header(class='navbar')
  div(class='navbar-header')
    a(class='navbar-brand', href='#') Project Example
    button(type='button', class='navbar-toggle', data-target="#navbar-content", data-toggle='collapse')
      span(class='icon-bar')
      span(class='icon-bar')
      span(class='icon-bar')
  nav(id='navbar-content', class='navbar-content collapse')
    ul(id='navbar-menu', class='navbar-menu')
      li
        a(href='#') Item a
      li
        a(href='#') Item b
      li
        a(href='#') Item c
