/* @font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-rba5vl');
  src:url('../fonts/icomoon.eot?#iefix-rba5vl') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-rba5vl') format('woff'),
    url('../fonts/icomoon.ttf?-rba5vl') format('truetype'),
    url('../fonts/icomoon.svg?-rba5vl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share-alt:before {
  content: "\f1e0";
} */
