.collapse{
  display: none;

  &.in{
    display: block !important;
  }
}

.collapsing {
  display: block !important;
  height: 0px;
  overflow: hidden;
  position: relative;
  @include transition(height .35s ease);
}