Thumbs.db
.DS_Store
node_modules
node_modules/
.sass-cache/
*.log

public/readme.html
public/license.txt
public/wp-config-sample.php

public/public-files/*
!public/public-files/index.php

public/wp-content/*
!public/wp-content/languages/
!public/wp-content/plugins/
!public/wp-content/themes/

wp-content/themes/twenty*/
